.footer{
    display: flex;
    background-color: #21222A;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 0 25px 20px 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.socialIcon{
    width: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.socialIcon:hover,
.socialIcon:focus{
    background-color: #f47d27;
}