.container{
    margin: 0;
}

.header{
    margin: 0;
    padding: 0;
}

.avatar{
    margin-bottom: -4px;
    width: 350px;
    height: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.bio{
    margin: 0;
    background-color: #21222A;
    padding-bottom: 32px;
    padding-top: 20px;
    width: 300px;
    padding: 0 25px 23px 25px;
}

.name{
    margin: 0;
    padding-top: 10px;
    font-size: 25px;
    color: #f5f5f5;
}

.title{
    margin: 0;
    color: #f47d27;
    padding-top: 10px;
    font-size: 16px;
}

.small{
    margin: 0;
    padding-top: 10px;
    color: #4a4e74;
    font-size: 16px;
}

.contacts{
    padding-top: 22px;
}

.links{
    text-decoration: none;
    display: inline-block;
    align-items: center;
    color: #f5f5f5;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.email{
    background-color: #f5f5f5;
    color: #000;
}

.email:hover,
.email.focus{
    background-color: #949494;
    color: #000;
}

.linkedin{
    background-color: #297fe5;
    color: #f5f5f5;
    margin-left: 17px;
}

.linkedin:hover,
.linkedin:focus {
  background-color: #1c559b;
}

.icons{
    width: 24px;
    padding-right: 10px;
    align-items: center;
}
